<br><br>
<h1 class="title-tnr center-text">Mais Informações</h1>
<br>
<div class="more">
  <h2>Informações</h2>
  <p>Este site é apenas um projeto para teste de habilidades desenvolvido em angular, utilizando json como fonte de dados. Cada capa foi redimensionada para uso especial neste site.</p>
  <br><br>
  <h2>Tecnologias Usadas:</h2>
  <ul class="tech-list">
    <li>Angular</li>
    <li>CSS</li>
    <li>HTML</li>
    <li>Typescript</li>
    <li>GIMP [Redimensionamento de Imagens]</li>
    <li>JSON</li>
    <li>Python [Script para automatização de construção de JSON a partir de planilha Excel]</li>
    <li>NodeJS</li>
  </ul>
</div>
